
	*{
		box-sizing: border-box;

	}
	.all{
		width: 100%;
	border: 1% solid black;
		
		
	}
	p{
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}
	
	
	#a{
		background-color: lightgray;
		margin-left: 84.5%;
		align-content: top-right ;

	
	}
	#b{
		background-color: orange;
			margin-left: 84.5%;
	
	}
	#c{
		background-color: purple;
			margin-left: 84.5%;
	
	}

	
	
	h1{
		 margin-bottom: 5%;
    margin-left: 40%;

}
 button{
	
	align-items: topright;
	box-sizing: border-box;
	position: relative;
	display: inline-grid;

}


 @media(min-width : 992px){
    .col-lg-3 {
      float: left;
        border: 1px solid black;
   
      margin-left: 5%;
	
		
   
    }
    
    .col-lg-3{
    width: 26.7%;
		
	}


}
	
@media(min-width: 768px) and (max-width:991px){
	.col-md-6  .col-md-9  #a #b #c{
		  border: 1px solid black;
	
	
	
	}
	.col-md-6{
		width:42.5%;
		display: inline-table;
		margin-left: 3.7%;
	
	}
	
	.col-md-9{
		width:90%;
		margin-left: 4%;
		margin-top: 3%;
	
	}}
	

	@media(max-width : 699px){
    .col-lg-3 .col-md-6 .col-md-9  {
    	      float: left;
    	        border: 1px solid black;
   
      margin-left: 5%;
      width: 90%;
    }
   
     }



